.site-btn {
	margin-top: 5%;
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	min-width: 186px;
	padding: 24px 30px;
	border-radius: 0;
	text-transform: uppercase;
	color: #081624;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	background: #fff;
	position: relative;
	z-index: 1;
	margin-bottom: 5%;
}

.site-btn:after,
.site-btn:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 9px;
	top: 10px;
	background: #2d2d2d;
	z-index: -2;
	-webkit-box-shadow: 0 0 9px 3px rgba(45, 45, 45, 0.24);
	box-shadow: 0 0 9px 3px rgba(45, 45, 45, 0.24);
}

.site-btn:before {
	left: 0;
	top: 0;
	background: #fff;
	z-index: -1;
}
.site-btn:hover{
	color: #474747;
}
.hero-section{
	margin-bottom: 5%;
}
.hero-slider .owl-dots {
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 2;
	left: calc(50% - 740px);
	bottom: 38px;
	position: relative;
	width: 1496px;
	position: absolute;
}

.hero-slider .owl-dots .owl-dot {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 500;
	border: 2px solid transparent;
	color: #fff;
	display: -ms-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-slider .owl-dots .owl-dot.active {
	color: #1476d1;
	border: 2px solid #1476d1;
}

.hero-slider .owl-nav {
	margin-top: -24px;
	display: block;
}

.hero-slider .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	right: 100px;
}

.hero-item {
	height: auto;
	padding-top: 8%;
	border-bottom: 4px solid #1476d1;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero-item h2 {
	font-size: 120px;
	color: #fff;
	font-weight: 500;
	line-height: 1;
	position: relative;
	top: 100px;
	opacity: 0;
}

.hero-item p {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 500;
	opacity: 0.39;
	position: relative;
	top: 80px;
	opacity: 0;
	line-height: 1.3em;
}

.hero-item .site-btn {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-slider .owl-item.active .hero-item h2,
.hero-slider .owl-item.active .hero-item p,
.hero-slider .owl-item.active .hero-item .site-btn {
	top: 0;
	opacity: 1;
}

.hero-slider .owl-item.active .hero-item h2 {
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hero-item p {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hero-item .site-btn {
	-webkit-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.hero-slider .owl-item.active .hero-item .offer-card {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.5s ease 1s;
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}


/*RESPONSIVE*/
@media (max-width: 1530px) {
	.hero-slider .owl-dots {
		width: 1170px;
		left: calc(50% - 585px);
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.hero-item p {
		font-size: 22px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 30px;
	}
	.hero-slider .owl-dots {
		width: 930px;
		left: calc(50% - 465px);
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-item h2 {
		font-size: 110px;
	}
	.hero-item p {
		font-size: 16px;
		padding: 0 30px;
	}
	.hero-slider .owl-nav .owl-next {
		right: 0;
	}
	.hero-slider .owl-dots {
		width: 690px;
		left: calc(50% - 345px);
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.hero-item h2 {
		font-size: 40px;
	}
	.hero-item p {
		font-size: 18px;
		margin: 0 5%;
	}
	.hero-slider .owl-nav .owl-next {
		top: auto;
		bottom: 33px;
		right: 15px;
		z-index: 99;
	}
	.hero-slider .owl-dots {
		width: 100%;
		left: 0;
		padding-left: 15px;
	}
	.owl-dots{
		visibility: hidden;
	}
	.site-btn{
		font-size: 9px;
		padding: 2%;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hero-item h2 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.hero-item p {
		font-size: 15px;
	}
}
.backColor{
	background-color: rgba(45, 45, 45, 0.8);
	padding: 1.1%;
}